

<div class="container" style="display: flex; justify-content: flex-end; margin-top: 10vh;">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary" (click)="toggleShowCreateForm()">
      Add New Deck
    </button>
    <button type="button" class="btn btn-outline-primary">
      <span *ngIf="viewMine" (click)="toggleViewAll()">
        View All
      </span>
      <span *ngIf="!viewMine">
        View My Decks
      </span>
    </button>
  </div>
</div>
<br>

<ng-container *ngIf="viewDecks"> 
  <app-view-decks 
    [decks]="decks"
    (deckSelected)="onDeckSelected($event)">

  </app-view-decks>
</ng-container>

<ng-container *ngIf="updateDeck"> 
  <app-update-deck [deck]="deck">

  </app-update-deck>
</ng-container>

<ng-container *ngIf="showCreateDeck">
  <app-create-deck></app-create-deck>
</ng-container>


<br>

<!-- <div class="container">
  <div *ngIf="decks == null">
    <h4>
      You do not have any decks right now :(
    </h4>
    <p>
      Create a new deck to get started or view decks that other members have created
    </p>
  </div>
  
  <div *ngIf="decks != null">
    
    <div class="row">

      <div *ngFor="let deck of decks" class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{deck.name}}
            </h5>
            <p class="card-text">
              {{deck.category}}
            </p>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary">
                Practice
              </button>
              <button type="button" class="btn btn-outline-primary">
                Update
              </button>
              <button type="button" class="btn btn-outline-primary">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>     

    </div>

  </div>

</div>

<br>
<div class="container">
  <button type="button" routerLink="create" class="btn btn-primary">Add New</button>
</div> -->

