<app-header></app-header>

<!-- <div *ngFor="let user of users">
  {{user.firstName}} {{user.lastName}}
  <label for='firstName'>First Name</label>
  <input type="text" name='firstName' [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
</div>

<form>
  <label for='title'>Title</label>
  <input type="text" name='title' [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
</form> -->
<div class="containter-fluid" style="min-height: 100vh; width: 100vw;">
  <router-outlet></router-outlet>
</div>
