<div class="container-fluid" style="display: flex; justify-content: center; padding-top: 20vh;">
    <div>

        <h1>Welcome to FlashDrive</h1>
        <p style="text-align: center;">Kick your learning into overdrive</p>

            <div class="row">
                    <button type="button" routerLink="login" class="btn btn-primary btn-lg btn-block">Login</button>
            </div>
            <br>
            <div class="row">
                    <button type="button" routerLink="register" class="btn btn-primary btn-lg btn-block">Register</button>
            </div>
    </div>
</div>
